{% comment %}
  This snippet expects a 'results' prop to be passed in. The 'results' prop should contain the following structure:
  {
    filters: [
      {
        param_name: 'filter.p.m.product_compatible_devices.manufacturers',
        label: 'Manufacturer',
        values: [
          { value: 'manufacturer1', label: 'Manufacturer 1', active: false },
          { value: 'manufacturer2', label: 'Manufacturer 2', active: true }
        ],
        active_values: [
          { value: 'manufacturer2', label: 'Manufacturer 2' }
        ]
      },
      {
        param_name: 'filter.p.m.product_compatible_devices.manufacturers_and_models_map',
        label: 'Model',
        values: [
          { value: 'manufacturer2_model1', label: 'Manufacturer 2 Model 1', active: false },
          { value: 'manufacturer2_model2', label: 'Manufacturer 2 Model 2', active: true }
        ]
      }
    ]
  }
{% endcomment %}

{% assign manufacturers_filter = results.filters
  | where: 'param_name', 'filter.p.m.product_compatible_devices.manufacturers'
  | first
%}

{% assign manufacturers_and_models_map_filter = results.filters
  | where: 'param_name', 'filter.p.m.product_compatible_devices.manufacturers_and_models_map'
  | first
%}

{%- assign manufacturers_and_models_map_filter_values = '' -%}

{% paginate metaobjects.phone_properties.values by 2000 %}
  {% for phone_property in metaobjects.phone_properties.values %}
    {% if manufacturers_filter.active_values[0].value == phone_property.manufacturer.value %}
      {% assign manufacturers_and_models_map_filter_values = manufacturers_and_models_map_filter_values | append: phone_property.manufacturer.value | append: '_' | append: phone_property.model.value | append: '~' %}
    {% endif %}
  {% endfor %}
{% endpaginate %}

{% assign manufacturers_and_models_map_filter_values = manufacturers_and_models_map_filter_values | split: '~' | uniq %}

<style>
  .compatible-devices-facet-filter {
    min-width: 20rem;
  }

  .compatible-devices-facet-filter .select__select {
    padding: 1.2rem 3.2rem 1.2rem 1.2rem;
  }
</style>

<facet-filters-form>
  <compatible-devices-facet-filters-form>
    <form id="FacetFiltersForm" class="compatible-devices-facets facets facets-active-toolbar flex pt-2">
      {% if manufacturers_filter %}
        <div class="compatible-devices-facet-filter select facets__filter">
          <select
            id="Filter-{{ manufacturers_filter.param_name | escape | handleize }}"
            name="{{ manufacturers_filter.param_name }}"
            class="facets__select select__select"
            onchange="if (document.querySelector('[name=\'{{ manufacturers_and_models_map_filter.param_name }}\']').value) { document.querySelector('[name=\'{{ manufacturers_and_models_map_filter.param_name }}\']').value = ''; }"
          >
            <option
              value=""
              {% if filter.active_value == blank %}
                selected
              {% endif %}
            >
              {{ 'products.facets.compatible_manufacturers' | t }}
            </option>

            {%- for filter_value in manufacturers_filter.values %}
              <option
                value="{{ filter_value.value | escape }}"
                {% if filter_value.active %}
                  selected
                {% endif %}
              >
                {{ filter_value.label | escape }}
              </option>
            {%- endfor %}
          </select>

          {% render 'icon-caret' %}
        </div>
      {% endif %}

      {% if manufacturers_and_models_map_filter %}
        <div class="compatible-devices-facet-filter select facets__filter">
          <select
            id="Filter-{{ manufacturers_and_models_map_filter.param_name | escape | handleize }}"
            name="{{ manufacturers_and_models_map_filter.param_name }}"
            class="facets__select select__select"
            {% unless manufacturers_filter.active_values.size > 0 %}
              disabled
            {% endunless %}
          >
            <option
              value=""
              {% if manufacturers_and_models_map_filter.active_value == blank %}
                selected
              {% endif %}
            >
              {{ 'products.facets.compatible_devices' | t }}
            </option>
            {%- for filter_value in manufacturers_and_models_map_filter_values %}
              <option
                value="{{ filter_value | escape }}"
                {% if filter_value == manufacturers_and_models_map_filter.active_value %}
                  selected
                {% endif %}
              >
                {{ filter_value | split: '_' | last }}
              </option>
            {%- endfor %}
          </select>

          {% render 'icon-caret' %}
        </div>
      {% endif %}
    </form>
  </compatible-devices-facet-filters-form>
</facet-filters-form>

<script>
  if (!customElements.get('compatible-devices-facet-filters-form')) {
    customElements.define(
      'compatible-devices-facet-filters-form',
      class extends HTMLElement {
        constructor() {
          super();
          this.manufacturers_filter = this.querySelector("[name='{{ manufacturers_filter.param_name }}']");
          this.manufacturers_and_models_map_filter = this.querySelector(
            "[name='{{ manufacturers_and_models_map_filter.param_name }}']"
          );
        }

        connectedCallback() {
          if (this.manufacturers_filter) {
            this.manufacturers_filter.addEventListener('change', this.onManufacturersFilterChange.bind(this));
          }
        }

        onManufacturersFilterChange(event) {
          if (this.manufacturers_and_models_map_filter.value) {
            this.manufacturers_and_models_map_filter.value = '';
          }
        }
      }
    );
  }
</script>
