{% comment %}
  This snippet expects a 'results' prop to be passed in. The 'results' prop should contain the following structure:
  {
    filters: [
      {
        param_name: 'filter.p.m.product_compatible_devices.manufacturers_and_models_map',
        label: 'Model',
        values: [
          { value: 'manufacturer2_model1', label: 'Manufacturer 2 Model 1', active: false },
          { value: 'manufacturer2_model2', label: 'Manufacturer 2 Model 2', active: true }
        ]
      }
    ]
  }
{% endcomment %}

{% assign manufacturers_and_models_map_filter = results.filters
  | where: 'param_name', 'filter.p.m.product_compatible_devices.manufacturers_and_models_map'
  | first
%}

<style>
  .compatible-devices-facet-filter {
    width: 20rem;
  }

  .compatible-devices-facet-filter .select__select {
    padding: 1.2rem 3.2rem 1.2rem 1.2rem;
  }
</style>

{% comment %}
  Find parent collection by iterating over all collections
{% endcomment %}
{% assign parent_collection = null %}
{% for collection in collections %}
  {% if collection.metafields.custom.subcollections.value %}
    {% for subcollection in collection.metafields.custom.subcollections.value %}
      {% if subcollection.url == results.url %}
        {% assign parent_collection = collection %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% if parent_collection != null %}
      {% break %}
    {% endif %}
  {% endif %}
{% endfor %}

<div class="compatible-devices-facets facets facets-active-toolbar flex pt-2">
  <div class="compatible-devices-facet-filter select facets__filter">
    <select
      class="facets__select select__select"
      onchange="
        // Save current scroll position to session storage before changing page
        const scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
        sessionStorage.setItem('facetsScrollPosition', scrollPosition);
        window.location.href=this.value
      "
    >
      <option
        value="{{ parent_collection.url | escape }}"
        {% if filter.active_value == blank %}
          selected
        {% endif %}
      >
        {{ 'products.facets.compatible_manufacturers' | t }}
      </option>

      {% if results.metafields.custom.subcollections.value %}
        {% for subcollection in results.metafields.custom.subcollections.value %}
          <option
            value="{{ subcollection.url | escape }}"
          >
            {{ subcollection.title | split: ' ' | last | escape }}
          </option>
        {% endfor %}
      {% elsif parent_collection != null and parent_collection.metafields.custom.subcollections.value %}
        {% for subcollection in parent_collection.metafields.custom.subcollections.value %}
          <option
            value="{{ subcollection.url | escape }}"
            {% if subcollection.url == results.url %}
              selected
            {% endif %}
          >
            {{ subcollection.title | split: ' ' | last | escape }}
          </option>
        {% endfor %}
      {% endif %}
    </select>

    {% render 'icon-caret' %}
  </div>

  <facet-filters-form>
    <form id="FacetFiltersForm" class="">
      <div class="compatible-devices-facet-filter select facets__filter">
        <select
          id="Filter-{{ manufacturers_and_models_map_filter.param_name | escape | handleize }}"
          name="{{ manufacturers_and_models_map_filter.param_name }}"
          class="facets__select select__select"
        >
          <option
            value=""
            {% if manufacturers_and_models_map_filter.active_values[0].value == blank %}
              selected
            {% endif %}
          >
            {{ 'products.facets.compatible_devices' | t }}
          </option>
          {%- for filter_value in manufacturers_and_models_map_filter.values %}
            <option
              value="{{ filter_value.value | escape }}"
              {% if filter_value.value == manufacturers_and_models_map_filter.active_values[0].value %}
                selected
              {% endif %}
            >
              {{ filter_value.label }}
            </option>
          {%- endfor %}
        </select>

        {% render 'icon-caret' %}
      </div>
    </form>
  </facet-filters-form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const scrollPosition = sessionStorage.getItem('facetsScrollPosition');
    if (scrollPosition) {
      window.scrollTo(0, scrollPosition);
      sessionStorage.removeItem('facetsScrollPosition');
    }
  });
</script>