<div class="active-facets active-facets-mobile flex flex-wrap w100 small-margin-top">
  {%- liquid
    assign has_active = false
  -%}
  {%- for filter in results.filters -%}
    {% assign filter_label_downcase = filter.label | downcase %}
    {%- if filter.active_values.size > 0 -%}
      {%- for value in filter.active_values -%}
        {%- assign has_active = true -%}
        <facet-remove>
          <a
            href="{{ value.url_to_remove }}"
            class="active-facets__button flex justify-center align-center color-foreground facets__button button button--secondary"
          >
            <span>
              {%- if section.settings.filter_include_group_name -%}{{ filter.label }}: {% endif -%}
              {%- if filter_label_downcase == settings.phone_name -%}
                {%- liquid
                  assign display_value = value.label
                  paginate shop.metaobjects.phone_properties.values by 10000
                    assign phone_properties = shop.metaobjects.phone_properties.values
                    if phone_properties
                      for phone_property in phone_properties
                        assign phone_code = value.label | strip
                        if phone_property.code == phone_code
                          assign phone_option_names = "" | append: phone_code | append: ":" | append: phone_property.model.value | append: ";"
                        endif
                      endfor
                    endif
                  endpaginate
                  if phone_option_names
                    assign phone_option_names_list = phone_option_names | split: ";"
                    for phone_option_name in phone_option_names_list
                      assign phone_option_name_parts = phone_option_name | split: ":"
                      assign phone_option_code = phone_option_name_parts[0]
                      assign phone_option_model = phone_option_name_parts[1]
                      if phone_option_code == value.label
                        assign display_value = phone_option_model 
                      endif
                    endfor
                  endif
                -%}
                {{ display_value | default: value.label | escape }}
              {%- else -%}
                {{- value.label | escape -}}
              {%- endif -%}
            </span>
            {%- render 'icon-close', icon_width: 12 -%}
            <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
          </a>
        </facet-remove>
      {%- endfor -%}
    {%- endif -%}

    {%- if filter.type == "price_range" -%}
      {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
        {%- if filter.min_value.value > 0 or filter.max_value.value != filter.range_max -%}
          {%- assign has_active = true -%}
          <facet-remove>
            <a href="{{ filter.url_to_remove }}" class="active-facets__button flex justify-center align-center color-foreground facets__button button button--secondary">
                <span>{%- if section.settings.filter_include_group_name -%}{{ filter.label }}: {% endif %}<span class="active-facets__button__price">{%- if filter.min_value.value -%}{{ filter.min_value.value | money }}{%- else -%}{{ 0 | money }}{%- endif -%}-{%- if filter.max_value.value -%}{{ filter.max_value.value | money }}{%- else -%}{{ filter.range_max | money }}{%- endif -%}</span></span>
                {%- render 'icon-close', icon_width: 12 -%}
                <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
            </a>
          </facet-remove>
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if has_active -%}
    <facet-remove>
      <a href="{{ results_url | default: results.url }}" class="active-facets__button active-facets__button-remove flex justify-center align-center color-foreground facets__button button button--secondary">
        <span>{{ 'products.facets.clear_all' | t }}</span>
      </a>
    </facet-remove>
  {%- endif -%}
</div>
