{% liquid
  assign filter_label_downcase = filter.label | downcase
  assign total_active_values = total_active_values | plus: filter.active_values.size
  assign presentation = filter.presentation | default: 'text'

  assign sorted_values = filter.values
  if filter.operator == 'AND'
    assign active_filter_values = filter.values | where: 'active', true
    assign inactive_filter_values = filter.values | where: 'active', false
    assign sorted_values = active_filter_values | concat: inactive_filter_values
  endif

  if presentation == 'image'
    assign show_more_number = 12
  else
    assign show_more_number = 10
  endif

  assign phone_properties_all = shop.metaobjects['compatible-devices'].values
  paginate phone_properties_all by 10000
    assign phone_properties = phone_properties_all
    if phone_properties
      assign phone_option_names = ""
      for phone_property in phone_properties
        for value in sorted_values
          assign phone_code = value.label | strip
          if phone_property.code == phone_code
            assign phone_option_names = phone_option_names | append: phone_code  | append: ":"  | append: phone_property.model.value  | append: ";"
          endif
        endfor
      endfor
    endif
  endpaginate
  assign phone_option_names_list = phone_option_names | split: ";"
  assign phone_filter_values_unsorted = ""
  for value in sorted_values
    for phone_option_name in phone_option_names_list
      assign phone_option_name_parts = phone_option_name | split: ":"
      assign phone_option_code = phone_option_name_parts[0]
      assign phone_option_model = phone_option_name_parts[1]
      if phone_option_code == value.label
        assign phone_filter_values_unsorted = phone_filter_values_unsorted  | append: phone_option_model  | append: ":"  | append: phone_option_code  | append: ";"
      endif
    endfor
  endfor
  assign phone_filter_values_unsorted_array = phone_filter_values_unsorted | split: ";"
  assign phone_filter_values_sorted_array = phone_filter_values_unsorted_array | sort
  assign phone_codes = ""
  for phone_filter_value in phone_filter_values_sorted_array
    assign phone_filter_value_parts = phone_filter_value | split: ":"
    assign phone_code = phone_filter_value_parts[1]
    assign phone_codes = phone_codes | append: phone_code | append: ";"
  endfor
  assign phone_codes_sorted_array = phone_codes | split: ";"

  assign color_properties_all = shop.metaobjects.color_codes_hex.values
  paginate color_properties_all by 10000
    assign color_properties = color_properties_all
    if color_properties
      assign color_option_names = ""
      for color_property in color_properties
        assign color_name = color_property.search_words.value | first | capitalize
        for value in sorted_values
          assign color_code = value.label | strip
          if color_property.code == color_code
            assign color_option_names = color_option_names  | append: color_code  | append: ":"  | append: color_name  | append: ";"
          endif
        endfor
      endfor
    endif
  endpaginate
  assign color_option_names_list = color_option_names | split: ";"
  assign color_filter_values_unsorted = ""
  for value in sorted_values
    for color_option_name in color_option_names_list
      assign color_option_name_parts = color_option_name | split: ":"
      assign color_option_code = color_option_name_parts[0]
      assign color_option_label = color_option_name_parts[1]
      if color_option_code == value.label
        assign color_filter_values_unsorted = color_filter_values_unsorted  | append: color_option_label  | append: ":"  | append: color_option_code  | append: ";"
      endif
    endfor
  endfor
  assign color_filter_values_unsorted_array = color_filter_values_unsorted | split: ";"
  assign color_filter_values_sorted_array = color_filter_values_unsorted_array | sort
  assign color_codes = ""
  for color_filter_value in color_filter_values_sorted_array
    assign color_filter_value_parts = color_filter_value | split: ":"
    assign color_code = color_filter_value_parts[1]
    assign color_codes = color_codes | append: color_code | append: ";"
  endfor
  assign color_codes_sorted_array = color_codes | split: ";"

  assign hide_compatible_filter = false
  if filter.param_name == 'filter.v.m.product_compatible_devices.manufacturers_metaobjects'
    assign hide_compatible_filter = true
  endif
  if filter.param_name == 'filter.v.m.product_compatible_devices.devices_metaobject'
    assign hide_compatible_filter = true
  endif
%}

{% unless hide_compatible_filter %}
  <{% unless filter_type == 'horizontal' %}details-accordion{% else %}div{% endunless %} class="db facets__item-filter" data-ignore-setup-event="true">
    <details id="Details-{{ filter.param_name | escape | handleize }}-{{ suffix_id }}{{ section.id }}" class="facets__details facets__details--{{ filter_type }} {% if filter_type == 'horizontal' %}disclosure-has-popup por facets__disclosure{% else %} facets__accordion{% endif %} js-filter"{% if section.settings.filter_collapse == 'expand' and filter_type != 'horizontal' %} open{% endif %}>
      <summary class="facets__summary facets__summary--{{ filter_type }}{% if filter_type == 'vertical' or filter_type == 'drawer' %} h6 font-heading-bold{% elsif filter_type == 'horizontal' %} font-body-semi-bold text-small background-input{% if filter.active_values.size > 0 %} facets__summary--has-actives{% endif %}{% endif %}{% if summary_classes %} {{ summary_classes }}{% endif %} summary-accordion" aria-label="{{ filter.label }} ({{ 'products.facets.filters_selected.one' | t: count: filter.active_values.size }})"
        {% unless filter_type == 'horizontal' %} onclick="return this.closest('details-accordion').toggleContent();"{% if section.settings.filter_collapse == 'expand' %} aria-expanded="true"{% endif %}{% endunless %}>
        <div class="flex align-center justify-space-between facets__label-wrapper">
          <span class="flex align-center facets__summary__label">
            {{ filter.label | escape }}
            {%- if filter.active_values.size > 0 -%}
              <span class="facets__selected facet-checkbox__content__count flex justify-center align-center lh1 no-js-hidden">{{ filter.active_values.size }}</span>
            {% endif %}
          </span>
          {% render 'facets-heading-icon', filter_type: filter_type %}
        </div>
      </summary>
      <div id="Facet-{{ filter.param_name | escape | handleize }}-{{ suffix_id }}{{ section.id }}" class="parent-display facets__display facets__display--{{ filter_type }}">
        <fieldset class="facets-wrap parent-wrap facets-wrap--{{ filter_type }} margin0">
          <legend class="visually-hidden">{{ filter.label | escape }}</legend>

          {%- if filter_type == 'horizontal' -%}
            <div class="facets__header flex justify-space-between align-center">
              <div>
                <span class="facets__selected-str no-js-hidden">
                  {{- 'products.facets.filters_selected' | t: count: filter.active_values.size -}}
                </span>
              </div>
              <facet-remove>
                <a href="{{ filter.url_to_remove }}" class="facets__reset flex align-center text-small facets__button button button--secondary">
                  <span>{{ 'products.facets.reset' | t }}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                    <path d="M3 9L9 3M3 3L9 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
              </facet-remove>
            </div>
          {%- endif -%}

          <ul class="{% if filter_type != 'vertical' %} facets__list{% endif %} list-unstyled{% if filter.values.size > show_more_number and filter_type == 'vertical' %} no-js-hidden{% endif %}{% if presentation == 'image' %} facets__image-grid flex{% endif %}" role="list">

            {%- for value in sorted_values -%}
              {% unless filter_label_downcase == settings.phone_name or filter_label_downcase == settings.color_name %}
                {% render 'facets-boolean-item',
                  suffix_id: suffix_id,
                  filter: filter,
                  filter_type: filter_type,
                  forloop_index: forloop.index,
                  presentation: presentation,
                  value: value,
                  filter_label_downcase: filter_label_downcase,
                  color_name: color_name
                %}
              {% endunless %}
            {%- endfor -%}

            {%- for phone_code_sorted in phone_codes_sorted_array -%}
              {% assign outer_index = forloop.index %}
              {% for value in sorted_values %}
                {% if filter_label_downcase == settings.phone_name and value.value == phone_code_sorted %}
                  {% assign display_value = value.label %}
                  {% assign phone_option_names_list = phone_option_names | split: ";" %}
                  {% for phone_option_name in phone_option_names_list %}
                    {% assign phone_option_name_parts = phone_option_name | split: ":" %}
                    {% assign phone_option_code = phone_option_name_parts[0] %}
                    {% assign phone_option_model = phone_option_name_parts[1] %}
                    {% if phone_option_code == value.label %}
                      {% assign display_value = phone_option_model %}
                    {% endif %}
                  {% endfor %}
                  {% render 'facets-boolean-item',
                    suffix_id: suffix_id,
                    filter: filter,
                    filter_type: filter_type,
                    forloop_index: outer_index,
                    presentation: presentation,
                    value: value,
                    display_value: display_value,
                    filter_label_downcase: filter_label_downcase,
                    color_name: color_name
                  %}
                {% endif %}
              {% endfor %}
            {%- endfor -%}

            {%- for color_code_sorted in color_codes_sorted_array -%}
              {% assign outer_index = forloop.index %}
              {% for value in sorted_values %}
                {% if filter_label_downcase == settings.color_name and value.value == color_code_sorted %}
                  {% assign display_value = value.label %}
                  {% assign color_option_names_list = color_option_names | split: ";" %}
                  {% for color_option_name in color_option_names_list %}
                    {% assign color_option_name_parts = color_option_name | split: ":" %}
                    {% assign color_option_code = color_option_name_parts[0] %}
                    {% assign color_option_label = color_option_name_parts[1] %}
                    {% if color_option_code == value.label %}
                      {% assign display_value = color_option_label %}
                    {% endif %}
                  {% endfor %}
                  {% render 'facets-boolean-item',
                    suffix_id: suffix_id,
                    filter: filter,
                    filter_type: filter_type,
                    forloop_index: outer_index,
                    presentation: presentation,
                    value: value,
                    display_value: display_value,
                    filter_label_downcase: filter_label_downcase,
                    color_name: color_name
                  %}
                {% endif %}
              {% endfor %}
            {%- endfor -%}

          </ul>

          {%- if filter.values.size > show_more_number and filter_type == 'vertical' -%}
            <show-more-button>
              <button class="button-show-more link underlined-link no-js-hidden no-control-menu" id="Show-More-{{ suffix_id }}{{ forloop.index }}-{{ section.id }}" type="button">
                <span class="label-show-more label-text"><span aria-hidden="true">+ </span>{{ 'products.facets.show_more' | t }}</span>
                <span class="label-show-less label-text hidden"><span aria-hidden="true">- </span>{{ 'products.facets.show_less' | t }}</span>
              </button>
            </show-more-button>
          {%- endif %}
        </fieldset>
      </div>
    </details>
  </{% unless filter_type == 'horizontal' %}details-accordion{% else %}div{% endunless %}>
{% endunless %}