{% comment %}
  Renders product options on the product page or featured product section.
  Supports UNIV_BARVA metafield for color swatches.
{% endcomment %}

{%- unless product.has_only_default_variant -%}
  {%- liquid
    assign max_rows = 4
    assign items_per_row = 3
    assign total_visible_items = max_rows | times: items_per_row
    assign current_variant = product.selected_or_first_available_variant
    assign first_selected_variant = current_variant | default: product.variants[0]
    assign variation_products = product.metafields.product_variants_grouping.variation_products.value
  -%}

  {% style %}
    .variant-flex-item {
      flex: 1 0 calc(100% * (1 /{{items_per_row}}) - 2rem);
      max-width: calc(100% * (1 /{{items_per_row}}) - 1rem);
    }
    .hidden-more {
      display: none !important;
    }
  {% endstyle %}

  {% if block.settings.picker_type == 'button' and block.settings.enable_color_swatches %}
    <link rel="stylesheet" href="{{ 'component-tooltip.css' | asset_url }}" media="print" onload="this.media='all'">
    <noscript>{{ 'component-tooltip.css' | asset_url | stylesheet_tag }}</noscript>
  {% endif %}

  {% for option in product.options_with_values %}
    {% assign opt_name_down = option.name | downcase %}
    {% assign values_count = option.values | size %}
    {% if opt_name_down == 'default_option' and values_count == 1 %}
      {% continue %}
    {% endif %}

    {% if block.settings.picker_type == 'button' and option.name != settings.phone_name %}
      {%- liquid
        assign is_color_swatches = false
        if product.variants.first.metafields.product_attributes.UNIV_BARVA != blank
          assign is_color_swatches = true
        endif
        assign available_variants = product.variants
      -%}

      <{{ prefix_variant }}variant-radios
        class="no-js-hidden variant-picker-primary-{{ section.id }} db"
        data-section="{{ section.id }}"
        data-url="{{ product.url }}"
      >

        <fieldset class="product-form__input product-form__input--fieldset flex flex-column element-small-margin-top">
          <legend class="product-form__input__form-label text-small margin-bottom-1rem">
            {{ option.name | capitalize }}
          </legend>

          <ul class="list-unstyled flex flex-wrap product-form__input__radio-list{% if is_color_swatches %} product-form__input__radio-list--color{% endif %}">
            {% if is_color_swatches %}
              {%- liquid
                assign color_option_names = ''

                paginate shop.metaobjects.color_codes_hex.values by 10000
                  assign color_codes = shop.metaobjects.color_codes_hex.values

                  for color_code_hex in color_codes
                    for product_variation in variation_products
                      assign variation_color = product_variation.variants.first.metafields.product_attributes.UNIV_BARVA.value
if color_code_hex.code == variation_color
  if color_code_hex.image.value
    assign colors = color_code_hex.image.value | image_url: width: 40
  else
    assign colors = 'colors_'
    for color in color_code_hex.color_hex_list.value
      assign colors = colors | append: color | append: ','
    endfor
  endif

  assign color_option_names = color_option_names | append: color_code_hex.code | append: ':' | append: colors | append: ';'
endif
                    endfor
                  endfor
                endpaginate
              -%}

              {% for product_variation in variation_products %}
                {%- liquid
                  assign current_value = product_variation.variants.first.metafields.product_attributes.UNIV_BARVA.value
assign selected = false
if product_variation.id == product.id
  assign selected = true
endif
                  assign current_variant = product.selected_or_first_available_variant
                -%}
                <li>
                  <a
                    href="{{ product_variation.url }}"
                    class="color-swatch-icon product-form__input__radio-label flex justify-center align-center por product-form__input__radio-label--color product-form__input__radio-label--color-{{ settings.color_swatches_shape }} bt-tooltip {% if selected %}selected{% endif %}"
                    data-color="{{ current_value | handleize }}"
                  >
                    <input
                      type="radio"
                      id="{{ section_id | default: section.id }}-{{ forloop.index0 }}"
                      name="{{ option.name }}{% if section_id %}-{{ section_id }}{% endif %}"
                      value="{{ current_value | escape }}"
                      form="{{ product_form_id }}"
                      style="display:none"
                      {% if selected %}checked="checked"{% endif %}
                    >

                    {% liquid
                      assign current_color_values = ''
                      if color_option_names
                        assign color_option_names_list = color_option_names | split: ';'
                        for color_option_name in color_option_names_list
                          assign color_option_name_parts = color_option_name | split: ':'
                          assign color_option_code = color_option_name_parts[0]
                          assign color_option_value = color_option_name_parts[1]
                          if color_option_code == current_value
                            assign current_color_values = color_option_value
                          endif
                        endfor
                      endif
                    %}

                    {% if current_color_values contains 'colors_' %}
                      {% liquid
                        assign color_object = current_color_values | split: 'colors_'
                        assign color_list = color_object[1] | split: ','
                        assign color_size = color_list.size
                        assign angle = 0
                        if color_size > 0
                          assign angle = 360 | divided_by: color_size
                        endif
                      %}
                      <div class="color-swatch-background">
                        {% for color_value in color_list %}
                          {% if color_size == 1 %}
                            <span style="background: {{ color_value }}; width:100%;height:100%"></span>
                          {% elsif color_size == 2 %}
                            {% if forloop.index0 == 0 %}
                              {% assign left = -50 %}
                            {% else %}
                              {% assign left = 50 %}
                            {% endif %}
                            <span style="background: {{ color_value }}; width:100%;height:100%;left:{{ left }}%"></span>
                          {% else %}
                            {% assign rotation = angle | times: forloop.index0 %}
                            {% assign skew = -90 | plus: angle %}
                            <span style="background: {{ color_value }}; transform:rotate({{ rotation }}deg) skew({{ skew }}deg);"></span>
                          {% endif %}
                        {% endfor %}
                      </div>
                    {% elsif current_color_values %}
                      <div class="color-swatch-background flex justify-center align-center">
                        <img src="{{ current_color_values }}" alt="{{ current_value }}">
                      </div>
                    {% endif %}

                    <span class="bt-tooltip__inner bt-tooltip__inner--top">{{ current_value }}</span>
                    {% if selected %}{% render 'icon-checkmark' %}{% endif %}
                  </a>
                </li>
              {% endfor %}
            {% else %}
              {% for value in option.values %}
                <li class="variant-flex-item">
                  <input
                    type="radio"
                    id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                    name="{{ option.name }}"
                    value="{{ value | escape }}"
                    form="{{ product_form_id }}"
                    {% if option.selected_value == value %}checked="checked"{% endif %}
                  >
                  <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="product-form__input__radio-label font-body-semi-bold text-small">
                    {{ value }}
                  </label>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </fieldset>
      </{{ prefix_variant }}variant-radios>
    {% endif %}
  {% endfor %}
{%- endunless -%}

<noscript>
  <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
    <label class="form__label">{{ 'products.product.product_variants' | t }}</label>
    <div class="select">
      {% for option in product.options_with_values %}
        <select name="options[{{ option.name | escape }}]" form="{{ product_form_id }}">
          {% for value in option.values %}
            <option value="{{ value | escape }}" {% if option.selected_value == value %}selected{% endif %}>{{ value }}</option>
          {% endfor %}
        </select>
      {% endfor %}
    </div>
  </div>
</noscript>