{%- liquid
  assign variant_picker_block = section.blocks | where: "type", "sale_box" | first
  assign size_chart_page = product.metafields.custom.product_size_chart.value | default: variant_picker_block.settings.size_chart_page
-%}
{%- if variant_picker_block and variant_picker_block.settings.size_chart_enable and variant_picker_block.settings.size_chart_link_label != blank -%}
    <modal-dialog id="PopupModal-{{ variant_picker_block.id }}" class="popup-modal">
      <div role="dialog" aria-label="{{ variant_picker_block.settings.size_chart_link_label | default: size_chart_page.title }}" aria-modal="true" class="popup-modal__content" tabindex="-1">
        <button id="ModalClose-{{ variant_picker_block.id }}" type="button" class="popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
        <div class="popup-modal__content-info">
          <div class="rte element-small-margin-top">
            {{ size_chart_page.content }}
          </div>  
        </div>
      </div>
    </modal-dialog>
{%- endif -%}