{% comment %}
	Renders parameter section

	Accepts:
	- product: {product} Product
	- show_sku: {boolean} Should show SKU
	- title: {String} Title of tab

	Usage:
	{% render 'main-product-attributes', product: product, show_sku: true, title: "Test" %}
{% endcomment %}

{% liquid
    assign enable_section_box_layout = false
    assign current_variant = product.selected_or_first_available_variant
%}

{%- style -%}
    {%- render 'section-heading-styles' -%}
{%- endstyle -%}
{{ 'section-main-product-attributes.css' | asset_url | stylesheet_tag }}
<div class="{% unless enable_section_box_layout %} gradient isolate{% else %}page-width{% endunless %}">
    <div class="{% unless enable_section_box_layout %}page-width{% else %}gradient isolate section__box{% endunless %}">
        {%- render 'section-heading' -%}
        <div class="product-attributes">
            <div class="product-attributes__table grid grid--1-col grid--2-col-tablet grid--3-col-desktop"
                 data-section="{{ section.id }}" data-url="{{ product.url }}">
                {%- if show_sku -%}
                    <div class="grid__item" {{ block.shopify_attributes }}>
                        <div class="product-attributes__table-item flex flex-column">
                            <h3 class="product-attributes__table-item__title margin0 font-heading-bold h5">SKU</h3>
                            <div class="product-attributes__table-item__content text-medium margin-top-1rem product-attributes__tablet-item-light">
                                {{ current_variant.sku }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {%- liquid
                    assign has_content = true
                -%}
                {%- liquid
                    assign is_display = has_content
                    if request.design_mode and is_display == false
                        assign is_display = true
                    endif
                -%}
                {%- if is_display -%}
                    <div class="grid__item product-attributes__table__specifications" {{ block.shopify_attributes }}>
                        <div class="product-attributes__table-item">
                            <div class="flex w100 align-center">
                                <h3 class="margin0 product-attributes__table-item__title--specifications flex align-center">
                                    {{ title | capitalize }}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         viewBox="0 0 16 16" fill="none">
                                        <path d="M8.00016 2.49994V13M8.00016 13L12.6668 8.33335M8.00016 13L3.3335 8.33335"
                                              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </h3>
                                <hr class="margin0 flex-grow-1">
                            </div>
                            <div class="product-attributes__table-item__content product-attributes__table-item__content--specifications text-medium">
                                {% for collection in product.collections %}
                                    {% assign attribute_set = collection.metafields.product_attributes.product_attribute_set.value.list.value %}
                                    {% for attribute in attribute_set %}
                                        {% if attribute.metafield_key != blank and current_variant.metafields.product_attributes[attribute.metafield_key] != blank %}
                                            {% assign has_content = true %}
                                            {% assign attribute_metafield = current_variant.metafields.product_attributes[attribute.metafield_key] %}
                                            <li class="grid__item">
                                                <h4 class="db font-heading-bold margin0 margin-bottom-1rem h5">{{ attribute.display_name | capitalize }}</h4>
                                                <div class="rte{% if attribute_metafield.type != 'file_reference' %} product-attributes__tablet-item-light{% endif %}">
                                                    {%- unless attribute_metafield.type == 'boolean' -%}
                                                        {%- unless attribute_metafield.type contains 'list.' and attribute_metafield.type != 'list.single_line_text_field' -%}
                                                            {% unless attribute_metafield.type contains 'metaobject_reference' %}
                                                                {{ attribute_metafield | metafield_tag }}
                                                            {% endunless %}
                                                        {%- else -%}
                                                            <ul>
                                                                {%- for field in attribute_metafield.value -%}
                                                                    <li>
                                                                        {%- if attribute_metafield.type contains 'product_reference' or attribute_metafield.type contains 'variant_reference' -%}
                                                                            <a href="{{ field.url }}">{{ field.title }}</a>
                                                                        {%- else -%}
                                                                            {{ field }}
                                                                        {%- endif -%}
                                                                    </li>
                                                                {%- endfor -%}
                                                            </ul>
                                                        {%- endunless -%}
                                                    {%- else -%}
                                                        {%- if attribute_metafield.value == true -%}
                                                            {{ 'general.boolean.true' | t }}
                                                        {%- else -%}
                                                            {{ 'general.boolean.false' | t }}
                                                        {%- endif -%}
                                                    {%- endunless -%}
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>
    {{ 'component-rte.css' | asset_url | stylesheet_tag }}
</noscript>