{% comment %}
  Renders parameter section

  Accepts:
  - product: {product} Product
  - show_sku: {boolean} Should show SKU
  - title: {String} Title of tab

  Usage:
  {% render 'main-product-attributes', product: product, show_sku: true, title: "Test" %}
{% endcomment %}

{% liquid
  assign enable_section_box_layout = false
  assign current_variant = product.selected_or_first_available_variant
%}

{%- style -%}
  {%- render 'section-heading-styles' -%}
{%- endstyle -%}
{{ 'section-main-product-attributes.css' | asset_url | stylesheet_tag }}

<div class="{% unless enable_section_box_layout %} gradient isolate{% else %}page-width{% endunless %}">
  <div class="{% unless enable_section_box_layout %}page-width{% else %}gradient isolate section__box{% endunless %}">
    {%- render 'section-heading' -%}
    <div class="product-attributes">
      <div class="product-attributes__table grid grid--1-col grid--2-col-tablet grid--3-col-desktop"
           data-section="{{ section.id }}" data-url="{{ product.url }}">
        {%- if show_sku -%}
          <div class="grid__item" style="padding-bottom: 1em" {{ block.shopify_attributes }}>
            <div class="product-attributes__table-item flex flex-column">
              <h3 class="product-attributes__table-item__title margin0 font-heading-bold h5">SKU</h3>
              <div class="product-attributes__table-item__content text-medium margin-top-1rem product-attributes__tablet-item-light">
                {{ current_variant.sku }}
              </div>
            </div>
          </div>
        {% endif %}

        {%- liquid
          assign is_display = true
          assign active_collection = collections[product.collections.first.handle]
        -%}

        {%- if is_display and active_collection != blank -%}
          {% render 'product-attribute-set', product: product, collection: active_collection %}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
<h3>Debug: Kolekce</h3>
<p>{{ active_collection.title }}</p>


{% assign attribute_sets = active_collection.metafields.product_attributes.product_attribute_set.value %}

<p><strong>Počet sad atributů:</strong> {{ attribute_sets.size }}</p>

<ul>
  {% for attribute_set in attribute_sets %}
    <li>
      <strong>Název sady:</strong> {{ attribute_set.name }}<br>
      <strong>SAP ID:</strong> {{ attribute_set.sap_id }}

      {% assign attributes = attribute_set.list.value %}
      {% if attributes != blank %}
        <ul>
          {% for attribute in attributes %}
            <li>
              {{ attribute.display_name }} – {{ attribute.metafield_key }}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Tato sada nemá žádné atributy.</p>
      {% endif %}
    </li>
  {% endfor %}
</ul>

<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>
  {{ 'component-rte.css' | asset_url | stylesheet_tag }}
</noscript>