{% liquid
  assign attribute_names = ''
  assign attribute_keys  = ''

  if products != blank
    for product in products
      for collection in product.collections
        assign val = collection.metafields.product_attributes.product_attribute_set.value
        if val == blank
          continue
        endif

        assign sets = val
        if sets.id != blank
          assign sets = sets | array
        endif

        for s in sets
          assign sv = s.value | default: s

          assign attrs = blank
          if sv.list
            assign attrs = sv.list
          endif
          if attrs == blank and sv.product_attribute_set__list
            assign attrs = sv.product_attribute_set__list
          endif
          if attrs and attrs.value
            assign attrs = attrs.value
          endif
          if attrs == blank
            continue
          endif

          for attribute in attrs
            assign a = attribute.value | default: attribute

            assign key = a.metafield_key
            if key == blank and a.product_attribute__metafield_key
              assign key = a.product_attribute__metafield_key
            endif

            assign name = a.display_name
            if name == blank and a.product_attribute__display_name
              assign name = a.product_attribute__display_name
            endif
            if name == blank and a.name
              assign name = a.name
            endif

            if key == blank or name == blank
              continue
            endif
            if attribute_keys contains key
              continue
            endif

            assign attribute_names = attribute_names | append: name | append: '|'
            assign attribute_keys  = attribute_keys  | append: key  | append: '|'
          endfor
        endfor
      endfor
    endfor

  elsif product != blank
    for collection in product.collections
      assign val = collection.metafields.product_attributes.product_attribute_set.value
      if val == blank
        continue
      endif

      assign sets = val
      if sets.id != blank
        assign sets = sets | array
      endif

      for s in sets
        assign sv = s.value | default: s

        assign attrs = blank
        if sv.list
          assign attrs = sv.list
        endif
        if attrs == blank and sv.product_attribute_set__list
          assign attrs = sv.product_attribute_set__list
        endif
        if attrs and attrs.value
          assign attrs = attrs.value
        endif
        if attrs == blank
          continue
        endif

        for attribute in attrs
          assign a = attribute.value | default: attribute

          assign key = a.metafield_key
          if key == blank and a.product_attribute__metafield_key
            assign key = a.product_attribute__metafield_key
          endif

          assign name = a.display_name
          if name == blank and a.product_attribute__display_name
            assign name = a.product_attribute__display_name
          endif
          if name == blank and a.name
            assign name = a.name
          endif

          if key == blank or name == blank
            continue
          endif

          assign attribute_names = attribute_names | append: name | append: '|'
          assign attribute_keys  = attribute_keys  | append: key  | append: '|'
        endfor
      endfor
    endfor
  endif

  assign attribute_names = attribute_names | split: '|' | uniq | reject: ''
  assign attribute_keys  = attribute_keys  | split: '|' | uniq | reject: ''
  assign keys_length = attribute_keys.size | minus: 1
%}

{% assign enable_debug = true %}
{% if enable_debug %}
  {% liquid
    assign dbg_sets = 0
    assign dbg_attrs = 0
    if product != blank
      for collection in product.collections
        assign val = collection.metafields.product_attributes.product_attribute_set.value
        if val != blank
          assign sets = val
          if sets.id != blank
            assign sets = sets | array
          endif
          for s in sets
            assign sv = s.value | default: s
            assign attrs = blank
            if sv.list
              assign attrs = sv.list
            endif
            if attrs == blank and sv.product_attribute_set__list
              assign attrs = sv.product_attribute_set__list
            endif
            if attrs and attrs.value
              assign attrs = attrs.value
            endif
            assign dbg_sets = dbg_sets | plus: 1
            if attrs != blank
              assign dbg_attrs = dbg_attrs | plus: attrs.size
            endif
          endfor
        endif
      endfor
    endif
  %}
  {% capture __dbg %}
{
  "product_id": {{ product.id | default: 0 }},
  "product_handle": {{ product.handle | json }},
  "collections_count": {{ product.collections.size | default: 0 }},
  "sets_found": {{ dbg_sets }},
  "attributes_found": {{ dbg_attrs }},
  "attribute_names": {{ attribute_names | json }},
  "attribute_keys": {{ attribute_keys | json }},
  "keys_length": {{ keys_length }}
}
  {% endcapture %}
  <details style="padding:12px;border:1px dashed #888;margin:10px 0" open>
    <summary><strong>DEBUG</strong></summary>
    <pre style="white-space:pre-wrap;font-family:ui-monospace,Menlo,monospace;font-size:13px;line-height:1.45">{{ __dbg | strip }}</pre>
  </details>
{% endif %}

{% if products != blank %}
  {% for i in (0..keys_length) %}
    {% liquid
      assign all_empty = true
      for product in products
        if product.metafields.product_attributes
          assign attribute_metafield = product.metafields.product_attributes[attribute_keys[i]]
        else
          assign attribute_metafield = product.selected_or_first_available_variant.metafields.product_attributes[attribute_keys[i]]
        endif
        if attribute_metafield != blank and attribute_metafield.value != nil
          assign all_empty = false
          break
        endif
      endfor
    %}
    {% if all_empty == false %}
      <tr>
        <th>{{ attribute_names[i] }}:</th>
        {% for product in products %}
          {% if product.metafields.product_attributes %}
            {% assign attribute_metafield = product.metafields.product_attributes[attribute_keys[i]] %}
          {% else %}
            {% assign attribute_metafield = product.selected_or_first_available_variant.metafields.product_attributes[attribute_keys[i]] %}
          {% endif %}
          <td class="product-compare-{{ product.id }}">
            {% render 'metafield-display', attribute_metafield: attribute_metafield %}
          </td>
        {% endfor %}
      </tr>
    {% endif %}
  {% endfor %}
{% elsif product != blank %}
  <div class="w100">
    <div class="grid">
      {% for i in (0..keys_length)  %}
        {% liquid
          assign attribute_metafield = product.metafields.product_attributes[attribute_keys[i]]
          if attribute_metafield == blank
            assign attribute_metafield = product.selected_or_first_available_variant.metafields.product_attributes[attribute_keys[i]]
          endif
        %}
        {% if attribute_metafield != blank and attribute_metafield.value %}
          <div class="grid__item">
            <h4 class="db font-heading-bold margin0 margin-bottom-1rem h5">{{ attribute_names[i] }}</h4>
            <div class="rte">
              {% render 'metafield-display', attribute_metafield: attribute_metafield %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
