
{%- liquid
  assign cover_image = section.settings.cover_image
  if cover_image == blank and section.settings.video_hosted != nil
    assign cover_image = section.settings.video_hosted.preview_image
  endif
-%}
<noscript>
  <div class="video-section__media card-radius"
          {% if cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
  >
    {%- if section.settings.video_hosted == null and section.settings.video_url != null -%}
      <a href="{{ section.settings.video_url }}" class="video-section__poster media media--transparent media--landscape{% if cover_image == blank %} video-section__placeholder{% endif %}">
        {%- capture sizes -%}{% if section.settings.full_width %}100vw{% else %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{% endif %}{%- endcapture -%}
        {%- assign alt = 'sections.video.load_video' | t: description: section.settings.description | escape -%}
        {%- if cover_image != blank -%}
          {{ cover_image | image_url: width: 5000 | image_tag:
          loading: 'lazy',
          sizes: sizes,
          widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840, 5000',
          alt: alt
          }}
        {%- else -%}
          {% if section.settings.video_url.type == 'youtube' %}
            {% capture thumbnail_url_max %}http://img.youtube.com/vi/{{ section.settings.video_url.id }}/maxresdefault.jpg{% endcapture %}
            <img src="{{ thumbnail_url_max }}" sizes="{{ sizes }}" alt="{{ alt }}" loading="lazy"  />
          {% else %}
            {{ 'collection-apparel-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
          {% endif %}
        {%- endif -%}
      </a>
    {%- else -%}
      {{
      section.settings.video_hosted
      | video_tag: image_size: '1100x', loop: section.settings.enable_video_looping, controls: true, muted: false
      }}
    {%- endif -%}
  </div>
</noscript>
<{% if section.settings.video_hosted != nil or section.settings.video_url != nil %}deferred-media{% else %}div{% endif %} class="video-section__media deferred-media no-js-hidden gradient global-media-settings card--shadow card-radius{% if section.settings.full_width %} global-media-settings--full-width{% endif %}" data-media-id="{{ section.settings.video_hosted.id | default: section.settings.video_url.id }}"{% if section.settings.autoplay %} data-autoplay="true"{% endif %}{% unless section.settings.enable_controls %} data-no-controls="true"{% endunless %}
>
  <button
          id="Deferred-Poster-Modal-{{ section.settings.video_hosted.id | default: section.settings.video_url.id }}"
          class="video-section__poster media deferred-media__poster media--landscape global-settings-popup"
          type="button"
          aria-label="{{ 'sections.video.load_video' | t: description: section.settings.description | escape }}"
  >
    {%- capture sizes -%}{% if section.settings.full_width %}100vw{% else %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{% endif %}{%- endcapture -%}
    {%- assign alt = 'sections.video.load_video' | t: description: section.settings.description | escape -%}
    {%- if cover_image != blank -%}
      {{ cover_image | image_url: width: 5000 | image_tag:
      loading: 'lazy',
      sizes: sizes,
      widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840, 5000',
      alt: alt
      }}
    {%- else -%}
      {% if section.settings.video_url.type == 'youtube' %}
        {% capture thumbnail_url_max %}http://img.youtube.com/vi/{{ section.settings.video_url.id }}/maxresdefault.jpg{% endcapture %}
        <img src="{{ thumbnail_url_max }}" sizes="{{ sizes }}" alt="{{ alt }}" loading="lazy"  />
      {% else %}
        {{ 'collection-apparel-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
      {% endif %}
    {%- endif -%}
    <span class="deferred-media__poster-button motion-reduce">
          {%- render 'icon-play' -%}
        </span>
  </button>
  <template>
    {%- if section.settings.video_hosted != nil -%}
      {{ section.settings.video_hosted | video_tag: autoplay: true, loop: section.settings.enable_video_looping, muted: false, controls: section.settings.enable_controls }}
    {%- elsif section.settings.video_url != nil -%}
      {%- liquid
        assign loop = ''
        if section.settings.enable_video_looping
          assign loop = '&loop=1&playlist=' | append: section.settings.video_url.id
        endif
      -%}
      {%- if section.settings.video_url.type == 'youtube' -%}
        <iframe
                src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1&autoplay=1{{ loop }}"
                class="js-youtube global-settings-popup"
                allow="autoplay; encrypted-media"
                allowfullscreen
                title="{{ section.settings.description | escape }}"
        ></iframe>
      {%- else -%}
        <iframe
                src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?autoplay=1{{ loop }}"
                class="js-vimeo global-settings-popup"
                allow="autoplay; encrypted-media"
                allowfullscreen
                title="{{ section.settings.description | escape }}"
        ></iframe>
      {%- endif -%}
    {%- endif -%}
  </template>
</{% if section.settings.video_hosted != nil or section.settings.video_url != nil %}deferred-media{% else %}div{% endif %}>