<section>
  <style>
    .charts-container {
      display: flex;
      padding: 2em;
    }
    .chart {
      width: 50%;
      padding: 40px 50px;
    }
    .chart.white {
      background-color: white;
      color: black;
    }
    .chart.black {
      background-color: black;
    }
    .text-white{
      color: white;
    }
    @media screen and (max-width: 768px){
      .chart {
        width: 100%;
        padding: 20px;
      }
    }
  </style>
  <div class="charts-container">
    <div class="chart white">
      <h3>{{ section.settings.heading1 }}</h3>
      <p>{{ section.settings.description1 }}</p>
      <div id="chart-turnover"></div>
    </div>
    <div class="chart black">
      <h3 class="text-white">{{ section.settings.heading2 }}</h3>
      <p class="text-white">{{ section.settings.description2 }}</p>
      <div id="chart-employees"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <input type="hidden" name="chartData" value='{{ shop.metaobjects['stats']['stats-9yuit78n']['yearly_stats'] }}'>
    <script>
      const chartData = JSON.parse(document.querySelector('input[name="chartData"]').value)

      let turnoverValues = []
      let employeeVales = []
      let turnoverXAxisLabels = []
      let employeesXAxisLabels = []
      let onlyEmployees = true

      for (var yearlyData of chartData.stats) {
        employeeVales.push(yearlyData.employees)
        employeesXAxisLabels.push(yearlyData.year)

        if (yearlyData.turnover > 0) {
          onlyEmployees = false
        }
        if (onlyEmployees) {
          continue;
        }
        turnoverValues.push(yearlyData.turnover)
        turnoverXAxisLabels.push(yearlyData.year)
      }
      optionsTurnover = {
        redrawOnParentResize: true,
        series: [
          {
            name: "Obrat ",
            data: turnoverValues
          }
        ],
        markers: {
          size: 8,
          strokeWidth: 5,
          strokeColors: '#fff',
          colors: "#3bc4c4", //['#3ac48e','#069ec6'],
          shape: "circle",
        },
        fill: {
          type: "gradient",
          gradient: {
            shape: "dark",
            colors: "#3bc480", //['#3ac48e','#069ec6'],
            shadeIntensity: 1,
            opacityFrom: 0.9,
            opacityTo: 0.9,
            stops: [0, 70, 100]
          },
        },
        chart: {
          type: 'area',
          height: 300,
          foreColor: '#6D6D6D',
          zoom: {
            enabled: false
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          colors: ['#3bc4c4'], //#2f9d73
          curve: 'straight' //straight
        },
        xaxis: {
          labels: {
            style: {
              colors: "#000"
            },
          },
          categories: turnoverXAxisLabels,
        },
        yaxis: {
          min: 0,
          opposite: false,
          forceNiceScale: true,
          showForNullSeries: true,
          axisTicks: {
            show: true
          },
          axisBorder: {
            show: false,
          },
          labels: {
            style: {
              colors: "#000"
            },
            tickAmount: 5,
            formatter: (val, index) => { return parseInt(val) }
          },
        },
      };
      optionsEmployees = {
        redrawOnParentResize: true,
        series: [
          {
            name: "Počet zaměstnanců ",
            data: employeeVales,
            background: '#000'
          }
        ],
        markers: {
          size: 8,
          strokeWidth: 5,
          strokeColors: '#fff',
          colors: "#3bc4c4", //['#3ac48e','#069ec6'],
          shape: "circle",
        },
        fill: {
          type: "gradient",
          gradient: {
            colors: "#3bc480", //['#3ac48e','#069ec6'],
            shadeIntensity: 1,
            opacityFrom: 0.9,
            opacityTo: 0.2,
            stops: [0, 70, 100]
          },
        },
        chart: {
          type: 'area',
          height: 300,
          foreColor: '#6D6D6D',
          zoom: {
            enabled: false
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          colors: ['#3bc4c4'], //#2f9d73
          curve: 'straight' //straight
        },
        xaxis: {
          labels: {
            style: {
              colors: "#FFF"
            },
          },
          categories: employeesXAxisLabels,
        },
        yaxis: {
          min: 0,
          opposite: false,
          forceNiceScale: true,
          showForNullSeries: true,
          axisTicks: {
            show: true
          },
          axisBorder: {
            show: false,
          },
          labels: {
            style: {
              colors: "#FFF"
            },
            tickAmount: 5,
            formatter: (val, index) => { return parseInt(val) }
          },
        },
      };

      chartTurnover = new ApexCharts(document.querySelector("#chart-turnover"), optionsTurnover)
      chartTurnover.render()
      chartEmployees = new ApexCharts(document.querySelector("#chart-employees"), optionsEmployees)
      chartEmployees.render()
    </script>
  </div>
</section>

{% schema %}
{
  "name": "Chart",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.graph.settings.main1.label"
    },
    {
      "type": "text",
      "id": "heading1",
      "label": "t:sections.graph.settings.heading.label"
    },
    {
      "type": "text",
      "id": "description1",
      "label": "t:sections.graph.settings.description.label"
    },
    {
      "type": "header",
      "content": "t:sections.graph.settings.main2.label"
    },
    {
      "type": "text",
      "id": "heading2",
      "label": "t:sections.graph.settings.heading.label"
    },
    {
      "type": "text",
      "id": "description2",
      "label": "t:sections.graph.settings.description.label"
    },
  ],
  "presets": [
    {
      "name": "Chart"
    }
  ],
}
{% endschema %}
