{{ 'section-timeline.css' | asset_url | stylesheet_tag }}

<script src="{{ 'swiper.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'timeline.js' | asset_url }}" defer="defer"></script>

{% liquid
  assign timeline_blocks = section.blocks | where: 'type', 'timeline_block'
%}

{%- style -%}
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }

    {%- render 'section-heading-styles' -%}
{% endstyle %}

<timeline-section class="timeline-section section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient isolate">
    <div class="timeline-container">
      <div class="timeline-main-text">
        {%- if section.settings.title != blank -%}
          <div class="flex justify-center">
            <h1 class="{{ section.settings.heading_size }} timeline-title"><strong>{{ section.settings.title }}</strong></h1>
          </div>
        {%- endif -%}

        {%- if section.settings.subtitle != blank -%}
          <div class="flex justify-center">
            <p class="subtitle-text">{{ section.settings.subtitle }}</p>
          </div>
        {%- endif -%}
      </div>
      <div class="timeline swiper">
        <span class="line"></span>
        <section class="swiper-container">
          <div class="swiper-wrapper js-timeline-blocks" data-ordering="{{ section.settings.ordering }}">
            {% for block in timeline_blocks %}
              <div class="swiper-slide" data-year="{{ block.settings.year }}">
                <div class="block js-block" data-for="{{ block.id }}">
                  <div class="block-text">
                    <h3>{{ block.settings.title }}</h3>
                    <div class="show">{{ block.settings.link_text }}</div>
                  </div>
                  <div class="date">{{ block.settings.year }}</div>
                  <div class="help-block">
                    <span class="plus-dot">+</span>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </section>
        <div class="swiper-button swiper-button-next button-next">
          {% render 'icon-caret-next' %}
        </div>
        <div class="swiper-button swiper-button-prev button-prev">
          {% render 'icon-caret-prev' %}
        </div>
      </div>
    </div>
  {% for block in timeline_blocks %}
    <div id="{{ block.id }}" class="timeline-hover-block">{{ block.settings.description }}</div>
  {% endfor %}
</timeline-section>

{% schema %}
{
  "name": "t:sections.timeline.name",
  "tag": "section",
  "class": "section",
  "max_blocks": 100,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Timeline",
      "label": "t:sections.timeline.settings.title.label"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "t:sections.timeline.settings.subtitle.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "ordering",
      "label": "t:sections.timeline.settings.ordering.label",
      "info": "t:sections.timeline.settings.ordering.info",
      "options": [
        {
          "value": "asc",
          "label": "t:sections.timeline.settings.ordering.options__asc.label"
        },
        {
          "value": "desc",
          "label": "t:sections.timeline.settings.ordering.options__desc.label"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "timeline_block",
      "name": "t:sections.timeline.blocks.timeline_block.name",
      "settings": [
        {
          "type": "number",
          "id": "year",
          "label": "t:sections.timeline.blocks.timeline_block.settings.year.label"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Timeline block",
          "label": "t:sections.timeline.blocks.timeline_block.settings.title.label"
        },
        {
          "type": "text",
          "id": "link_text",
          "default": "Show more",
          "label": "t:sections.timeline.blocks.timeline_block.settings.link_text.label"
        },
        {
          "type": "text",
          "id": "description",
          "label": "t:sections.timeline.blocks.timeline_block.settings.description.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.timeline.presets.name",
      "blocks": [
        {
          "type": "timeline_block"
        },
        {
          "type": "timeline_block"
        },
        {
          "type": "timeline_block"
        }
      ]
    }
  ]
}
{% endschema %}